.vs/ModJam5/DesignTimeBuild/.dtbcache.v2
.vs/ModJam5/FileContentIndex/28ba2d00-c218-4b8c-8e4d-3b3e8352a1ba.vsidx
.vs/ModJam5/FileContentIndex/3ccd64ef-a124-48dc-b805-eecbfed22fd5.vsidx
.vs/ModJam5/FileContentIndex/65c60e44-b6d8-4d09-a087-47b07fa4035b.vsidx
.vs/ModJam5/FileContentIndex/c5f52da2-ec61-43c9-b970-63c96d1b5ce0.vsidx
.vs/ModJam5/FileContentIndex/fded01e7-c7c5-4392-80e3-08502c30f86d.vsidx
.vs/ModJam5/v17/.futdcache.v2
.vs/ModJam5/v17/.suo
.vs/ModJam5/v17/DocumentLayout.json
.vs/ProjectEvaluation/modjam5.metadata.v8.bin
.vs/ProjectEvaluation/modjam5.projects.v8.bin
.vs/ProjectEvaluation/modjam5.strings.v8.bin
.vs/ModJam5/DesignTimeBuild/.dtbcache.v2
.vs/ModJam5/FileContentIndex/28ba2d00-c218-4b8c-8e4d-3b3e8352a1ba.vsidx
.vs/ModJam5/FileContentIndex/65c60e44-b6d8-4d09-a087-47b07fa4035b.vsidx
.vs/ModJam5/FileContentIndex/c5f52da2-ec61-43c9-b970-63c96d1b5ce0.vsidx
.vs/ModJam5/FileContentIndex/fded01e7-c7c5-4392-80e3-08502c30f86d.vsidx
.vs/ModJam5/v17/.futdcache.v2
.vs/ModJam5/v17/.suo
.vs/ModJam5/v17/DocumentLayout.json
.vs/ProjectEvaluation/modjam5.metadata.v8.bin
.vs/ProjectEvaluation/modjam5.projects.v8.bin
.vs/ProjectEvaluation/modjam5.strings.v8.bin
.vs/ModJam5/FileContentIndex/2735f57d-9d70-4b30-84ee-afa4a8b54cb8.vsidx
.vs/ModJam5/DesignTimeBuild/.dtbcache.v2
.vs/ModJam5/FileContentIndex/28ba2d00-c218-4b8c-8e4d-3b3e8352a1ba.vsidx
.vs/ModJam5/FileContentIndex/65c60e44-b6d8-4d09-a087-47b07fa4035b.vsidx
.vs/ModJam5/FileContentIndex/6aa53e58-1bdd-45ab-a121-b48eafc34e80.vsidx
.vs/ModJam5/FileContentIndex/c5f52da2-ec61-43c9-b970-63c96d1b5ce0.vsidx
.vs/ModJam5/FileContentIndex/fded01e7-c7c5-4392-80e3-08502c30f86d.vsidx
.vs/ModJam5/v17/.futdcache.v2
.vs/ModJam5/v17/.suo
.vs/ModJam5/v17/DocumentLayout.json
.vs/ProjectEvaluation/modjam5.metadata.v8.bin
.vs/ProjectEvaluation/modjam5.projects.v8.bin
.vs/ProjectEvaluation/modjam5.strings.v8.bin
.vs/ModJam5/DesignTimeBuild/.dtbcache.v2
.vs/ModJam5/FileContentIndex/28ba2d00-c218-4b8c-8e4d-3b3e8352a1ba.vsidx
.vs/ModJam5/FileContentIndex/65c60e44-b6d8-4d09-a087-47b07fa4035b.vsidx
.vs/ModJam5/FileContentIndex/c5f52da2-ec61-43c9-b970-63c96d1b5ce0.vsidx
.vs/ModJam5/FileContentIndex/fded01e7-c7c5-4392-80e3-08502c30f86d.vsidx
.vs/ModJam5/v17/.futdcache.v2
.vs/ModJam5/v17/.suo
.vs/ModJam5/v17/DocumentLayout.json
.vs/ProjectEvaluation/modjam5.metadata.v8.bin
.vs/ProjectEvaluation/modjam5.projects.v8.bin
.vs/ProjectEvaluation/modjam5.strings.v8.bin
.vs/ModJam5/DesignTimeBuild/.dtbcache.v2
.vs/ModJam5/FileContentIndex/23bb333c-9183-4a6d-9483-c6cdd314231c.vsidx
.vs/ModJam5/FileContentIndex/28ba2d00-c218-4b8c-8e4d-3b3e8352a1ba.vsidx
.vs/ModJam5/FileContentIndex/65c60e44-b6d8-4d09-a087-47b07fa4035b.vsidx
.vs/ModJam5/FileContentIndex/c5f52da2-ec61-43c9-b970-63c96d1b5ce0.vsidx
.vs/ModJam5/FileContentIndex/fded01e7-c7c5-4392-80e3-08502c30f86d.vsidx
.vs/ModJam5/v17/.futdcache.v2
.vs/ModJam5/v17/.suo
.vs/ModJam5/v17/DocumentLayout.json
.vs/ProjectEvaluation/modjam5.metadata.v8.bin
.vs/ProjectEvaluation/modjam5.projects.v8.bin
.vs/ProjectEvaluation/modjam5.strings.v8.bin
.vs/ModJam5/DesignTimeBuild/.dtbcache.v2
.vs/ModJam5/FileContentIndex/23bb333c-9183-4a6d-9483-c6cdd314231c.vsidx
.vs/ModJam5/FileContentIndex/28ba2d00-c218-4b8c-8e4d-3b3e8352a1ba.vsidx
.vs/ModJam5/FileContentIndex/65c60e44-b6d8-4d09-a087-47b07fa4035b.vsidx
.vs/ModJam5/FileContentIndex/c5f52da2-ec61-43c9-b970-63c96d1b5ce0.vsidx
.vs/ModJam5/FileContentIndex/fded01e7-c7c5-4392-80e3-08502c30f86d.vsidx
.vs/ModJam5/v17/.futdcache.v2
.vs/ModJam5/v17/.suo
.vs/ModJam5/v17/DocumentLayout.json
.vs/ProjectEvaluation/modjam5.metadata.v8.bin
.vs/ProjectEvaluation/modjam5.projects.v8.bin
.vs/ProjectEvaluation/modjam5.strings.v8.bin
.vs/ModJam5/DesignTimeBuild/.dtbcache.v2
.vs/ModJam5/FileContentIndex/23bb333c-9183-4a6d-9483-c6cdd314231c.vsidx
.vs/ModJam5/FileContentIndex/28ba2d00-c218-4b8c-8e4d-3b3e8352a1ba.vsidx
.vs/ModJam5/FileContentIndex/65c60e44-b6d8-4d09-a087-47b07fa4035b.vsidx
.vs/ModJam5/FileContentIndex/c5f52da2-ec61-43c9-b970-63c96d1b5ce0.vsidx
.vs/ModJam5/FileContentIndex/fded01e7-c7c5-4392-80e3-08502c30f86d.vsidx
.vs/ModJam5/v17/.futdcache.v2
.vs/ModJam5/v17/.suo
.vs/ModJam5/v17/DocumentLayout.json
.vs/ProjectEvaluation/modjam5.metadata.v8.bin
.vs/ProjectEvaluation/modjam5.projects.v8.bin
.vs/ProjectEvaluation/modjam5.strings.v8.bin
.vs/ModJam5/DesignTimeBuild/.dtbcache.v2
.vs/ModJam5/FileContentIndex/23bb333c-9183-4a6d-9483-c6cdd314231c.vsidx
.vs/ModJam5/FileContentIndex/28ba2d00-c218-4b8c-8e4d-3b3e8352a1ba.vsidx
.vs/ModJam5/FileContentIndex/65c60e44-b6d8-4d09-a087-47b07fa4035b.vsidx
.vs/ModJam5/FileContentIndex/c5f52da2-ec61-43c9-b970-63c96d1b5ce0.vsidx
.vs/ModJam5/FileContentIndex/fded01e7-c7c5-4392-80e3-08502c30f86d.vsidx
.vs/ModJam5/v17/.futdcache.v2
.vs/ModJam5/v17/.suo
.vs/ModJam5/v17/DocumentLayout.json
.vs/ProjectEvaluation/modjam5.metadata.v8.bin
.vs/ProjectEvaluation/modjam5.projects.v8.bin
.vs/ProjectEvaluation/modjam5.strings.v8.bin
.vs/ModJam5/FileContentIndex/c0d10fd5-dc0c-4783-9039-25b2b10549ab.vsidx
